<h1>New list</h1>
<br>
<%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
  <%= f.submit "Submit me", class: "btn btn-primary rounded-border"  %>
<% end %>

<%= link_to "Back to List", lists_path, class: "btn btn-secondary rounded-border my-2" %>
